*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a, a:hover{
    color: #05758a!important;
    text-decoration: none!important;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}
hr{
    margin: 0px!important;
    padding: 0px!important;
}

/* //////////////////////////Sidebar////////////////////// */

.main-container{
    display: flex;

}
main{
    /* padding: 0px 20px 20px 20px; */
    background: rgb(236, 230, 230);
    
}
.dashboard-pages{
    padding: 20px;
}
.sidebar{
    background: #071330;
    color: white;
    height: 100vh;
    /* min-width: 250px; */
}
.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 15px 10px;
}
.logo{
    height: 35px;
    width: 50px;
    margin-left: -5px ;
}
.bars{
    font-size: 16px;
    cursor: pointer;
}
.sidebar-link{
    display: flex;
    gap: 10px;
    color: white;
    padding: 10px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    align-items: center;
    
}
.sidebar-link:hover,
.active{
    display: flex;
    gap: 10px;
    color: white;
    padding: 10px 10px;
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51, 89);
    align-items: center;
}


.link-text{
    white-space: nowrap;
    font-size: 16px;
}
.icon{
    font-size: 18px;
    
}
.routes{
    margin-top: 10px;
}
.inventory{
    padding-left: 20px!important;
    
}
.sidebar-link-dropdown{
    width: 200px;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    /* gap: 20px; */
}
.sidebar-link-dropdown-icon{
    cursor: pointer;
}
/* ***********************Mobile View**************************** */
/* .mobile-main-container{
    display: flex;
    flex-direction: column;
} */
.mobile-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 15px 10px;
    background: #071330;
}
.mobile-bars{
    color: white;
}
.mobile-sidebar{
    background: #071330;
    color: white;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    scroll-behavior: auto;
}
/* ***********************Mobile View**************************** */

/* //////////////////////////Sidebar////////////////////// */

/* //////////////////////////Top-Bar////////////////////// */

.topbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 15px;
    color: white;
}
.topbar-heading-text{
    font-size: 20px;
    color: blue;
}
.topbar-subheading-text{
    font-size: 20px;
    color: grey;
}
.topbar-icons-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.topbar-icons{
    color: black;
    cursor: pointer;
    font-size: 24px;
}
@media(max-width:992px){
    .topbar-container{
        flex-direction: column!important;
        line-height: 18px;
        gap: 5px;
        margin-bottom: 15px;
    }
    .topbar-heading-text{
        font-size: 16px;
        color: blue;
    }
    .topbar-subheading-text{
        font-size: 16px;
        color: grey;
    }
}

/* //////////////////////////Top-Bar////////////////////// */

/* //////////////////////////Sign In////////////////////// */

.form-container{
    display: flex;
    

}
.form-left-container{
    height: 100vh;
    width: 100%;
    background: #003d48;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-right-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray; */
}
.form-right-heading{   
    font-size: 42px;
    color: #fff;
    
}
.signin-form-block{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
   
}
.form-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: center;
    color: #003d48;
    margin-bottom: 20px;
}
.sign-in-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 360px; */
}
.input-field-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    
}
.input-field-block input{
   padding: 5px;
   width: 350px;
   font-size: 14px;
   padding-left: 15px;
   border: 1px solid lightgrey;
   
}
.input-field-block input:focus{
    outline: 1px solid grey;
 }

.input-field-label{
    color: #171717;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.estaric{
    color: red;
}
.form-submit-field{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 363px;
    margin-bottom: 5px;
   
}
.form-submit-btn{
    background: #05758a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;

}
.form-submit-btn:hover{
    background: #003d48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;

}
.password-forgot-label-container{
    display: flex;
    justify-content: space-between;
}
.password-forgot-label-container a,
.password-forgot-label-container a:hover{
    color: #05758a;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline!important;
    cursor: pointer;
}
.checkbox-field-block{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: -235px;
    margin-bottom: 5px;
}
.checkbox-input-field{
    height: 20px;
    width: 20x;
}
.checkbox-field-label{
    color: grey;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
.form-buttom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.form-buttom-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 355px;
   
}
.sign-up-block{
    display: flex;
    justify-content: space-between;
}
.sign-up-block a,
.sign-up-block a:hover{
    color: #05758a;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}
.a-underline,
.a-underline:hover{
    text-decoration: underline!important;
}
.checkbox-field-label{
    display: flex;
    justify-content: space-between;
}

/* //////////////////////////Sign In////////////////////// */


/* //////////////////////////Forgot Password////////////////////// */

.form-logo-img{
    height: 150px;
    width: 180px;
}
.form-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-bottom: 30px;
    gap: 5px;
}
.form-top-email-info{
    font-weight: bold;
}
.form-top-email-info,
.form-top-code-info{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.form-top-code-info{
    color: grey;
    margin-top: 10px;
}
.back-to-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-submit-btn-status{
    background:  #003d48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;

}


/* //////////////////////////Forgot Password////////////////////// */

/* //////////////////////////Code_varification////////////////////// */
.code-varify-btn{
    background:  #003d48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
}
.code-unvarify-btn{
    background:  #cce9ee;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
}

/* //////////////////////////Forgot Password////////////////////// */

/* //////////////////////////Update Password////////////////////// */
.update-password-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: center;
    color: #05758a;
    margin-bottom: 20px;
    font-weight: bold;
}
.password-message{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: red;
}
.password-info-container{
    width: 350px;
    min-height: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.password-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.password-info-block{
    display: flex;
    align-items: center;
    gap: 5px;
}
.request-submitted{
    color: #05758a;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-logo-sucess{
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
}

/* //////////////////////////Update Password////////////////////// */


/* //////////////////////////Media Queries////////////////////// */
@media(max-width:992px){
    .form-container{
        flex-direction: column!important;
    
    }
    
    .form-right-heading{   
        font-size: 30px!important;
        color: #fff;
        
    }
}
@media(max-width:350px){
 
    .input-field-block input{
        padding: 5px;
        width: 300px!important;
        padding-left: 15px;
        
        
     }
     .form-submit-field{
        width: 313px;
    }
    .form-buttom-block{
        width: 305px!important;
        margin-bottom: 20px;
    }
    .form-right-heading{   
        font-size: 30px!important;
    }
    .checkbox-field-block{
        margin-left: -185px!important;
    }
}

/* //////////////////////////Media Queries////////////////////// */