*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
hr{
    margin: 0px!important;
    padding: 0px!important;
}

/* //////////////////////////Sidebar////////////////////// */

.main-container{
    display: flex;

}
main{
    padding: 20px;
    background: rgb(236, 230, 230);
    
}
.sidebar{
    background: rgb(0, 7, 61);
    color: white;
    height: 100vh;
    /* min-width: 250px; */
}
.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.logo{
    height: 35px;
    width: 50px;
    margin-left: -5px ;
}
.bars{
    font-size: 16px;
    cursor: pointer;
}
.sidebar-link{
    display: flex;
    gap: 10px;
    color: white;
    padding: 10px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    align-items: center;
    
}
.sidebar-link:hover,
.active{
    display: flex;
    gap: 10px;
    color: white;
    padding: 10px 10px;
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51, 89);
    align-items: center;
}


.link-text{
    white-space: nowrap;
    font-size: 16px;
}
.icon{
    font-size: 18px;
    
}
.routes{
    margin-top: 10px;
}
.inventory{
    padding-left: 20px!important;
    
}
.sidebar-link-dropdown{
    width: 200px;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    /* gap: 20px; */
}
.sidebar-link-dropdown-icon{
    cursor: pointer;
}
/* //////////////////////////Sidebar////////////////////// */